<div class="pagination">
	<ul>
		
		<li class="clickable previous" data-id="{{prev.id}}"><a href="#">{{#if prev}}<i class="fa fa-arrow-left"></i>{{else}}&nbsp;{{/if}}</a></li>

		<li class="clickable {{#if firstPage.selected}} active {{/if}}" data-id="{{firstPage.id}}"><a href="#">{{firstPage.label}}</a></li>

		{{#if startSpacers}}
		<li><a style="pointer-events: none; cursor: default;">...</a></li>
		{{/if}}

		{{#each pages}}
		<li class="clickable {{#if selected}} active {{/if}}" data-id="{{id}}"><a href="#">{{label}}</a></li>
		{{/each}}

		{{#if endSpacers}}
		<li><a style="pointer-events: none; cursor: default;">...</a></li>
		{{/if}}

		{{#if lastPage}}
		<li class="clickable {{#if lastPage.selected}} active {{/if}}" data-id="{{lastPage.id}}"><a href="#">{{lastPage.label}}</a></li>
		{{/if}}

		<li class="clickable" class="next" data-id="{{next.id}}"><a  href="#">{{#if next}}<i class="fa fa-arrow-right"></i>{{else}}&nbsp;{{/if}}</a></li>
		
	</ul>
</div>