<div class="pagination">
	<ul>
		
		<li class="previous" data-id="{{prev.id}}"><a href="#">{{#if prev}}<i class="fa fa-arrow-left"></i>{{else}}&nbsp;{{/if}}</a></li>
		
		{{#each pages}}
		<li data-id="{{id}}"{{#if selected}} class="active" {{/if}}><a href="#">{{label}}</a></li>
		{{/each}}
		
		<li class="next"  data-id="{{next.id}}"><a  href="#">{{#if next}}<i class="fa fa-arrow-right"></i>{{else}}&nbsp;{{/if}}</a></li>
		
	</ul>
</div>